h1::first-letter {
    font-size: 2em;
    font-style: italic;
}
p::first-line {
    background-color: yellow;
}
p::selection {
    color: pink;
    background-color: grey;
}
#fruit li::before {
    content: "😀";
}
#apple::after{
    content: "😎";
}
#fruit li::marker{
    content: "✅";
    color: aqua;
}